<div class="main">
    <div class="row align-center">
        <div class="columns small-12 large-10">
            <div class="callout float-center">
                <h1>Edit Course</h1>
                <p v-if="errorMessages">{{ errorMessages }}</p>
            </div>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-12 large-10">
            <div>
                <div>
                    <label for="course-title">Title
                        <input v-model="course.title" type="text"
                               placeholder="Course Title" id="course-title"/>
                    </label>
                </div>
                <div>
                    <time-estimate :time-estimate="course.timeEstimate"
                                   :updated="timeEstimateUpdated"
                                   :is-input="true"></time-estimate>
                </div>
                <div>
                    <label for="course-description">Description</label>
                    <textarea v-model="course.description" type="text"
                              placeholder="Course description"
                              id="course-description"></textarea>
                </div>

                <div>
                    <button @click="save" class="button">Save</button>
                    <button @click="cancel" class="button secondary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
