/* Sidebar */
/* Toggle Styles */

.wrapper {
  //height: 100vh;
  padding-left: 0;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;

  &.toggled {
    padding-left: 0;

    .page-content-wrapper {
      padding-left: 265px;
      position: absolute;
      margin-right: -200px;
    }

    .sidebar-wrapper {
      width: 250px;
    }
  }

  .sidebar-wrapper {
    z-index: 1;
    position: absolute;
    left: 100px;
    width: 250px;
    height: 100%;
    margin-left: -300px;
    overflow: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
      margin-left: -100px;
      z-index: 1000;
    }

    .menu-icon-container {
      width: 100%;
      justify-content: flex-end;
      margin-top: 1em;
    }
  }

  .page-content-wrapper {
    width: auto;
    z-index: 2;
    padding-left: 65px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #FFF;
    //height: 100%;

    &.toggled {
      width: 100%;
      z-index: 2;
    }
  }
}

@media(min-width:768px) {

  .wrapper {
    padding-left: 250px;
    height: 100%;

    &.toggled {
      padding-left: -300px;

      .sidebar-wrapper {
        width: 250px;
        margin-left: -300px;
      }

      .page-content-wrapper {
        position: relative;
        padding: 0 15px 0 60px;
      }
    }

    .sidebar-wrapper {
      width: 250px;
      margin-left: -100px;
    }

    .page-content-wrapper {
      padding-left: 15px;

      .container-fluid {
        margin-top: 20px;
      }
    }
  }
}