<div id="wrapper" class="wrapper">
    <div id="sidebar-wrapper" class="sidebar-wrapper">
        <div class="menu-icon-container row align-right">
            <a class="menu-icon" id="menu-toggle"></a>
        </div>
        <loading v-if="loading"></loading>
        <course-navigation v-if="course"
                           :is-course-admin="isCourseAdmin"
                           :course="course">
        </course-navigation>
    </div>
    <div id="page-content-wrapper" class="page-content-wrapper">
        <div class="main">
            <div class="row">
                <div class="small-12 columns">
                    <router-view></router-view>
                </div>
            </div>
        </div>
    </div>
</div>