<div class="grid-y medium-grid-frame" style="justify-content: center;">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <div class="callout float-center">
                <h1>Create Course</h1>
                <p v-if="loading">Logging in...</p>
                <p v-if="errorMsg">{{ errorMsg }}</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-8">
            <div class="callout float-center">
                <div>
                    <label for="course-title">Title
                        <input v-model="title" type="text"
                               placeholder="Course Title" id="course-title"/>
                    </label>
                </div>
                <div>
                    <label for="course-description">Description</label>
                    <textarea v-model="description" type="text"
                              placeholder="Course description" id="course-description"></textarea>
                </div>

                <!--<label for="password">Password-->
                <!--<input v-model="password" type="password" id="password"/>-->
                <!--</label>-->
                <button @click="create" class="button">Create</button>
                <!--<button class="button secondary">Forgot Password</button>-->
            </div>
        </div>
    </div>
</div>
