<div>
    <div class="row">
        <div class="small-8">
            <h1>Create Module</h1>
            <loading v-if="loading"></loading>
        </div>
    </div>
    <vue-form :state="formstate" @submit.prevent="createModule">
        <validate>
            <div class="columns small-3">
                <div class="row">
                    <div class="columns small-8">
                        <field-messages name="title"
                                        show="$submitted || $dirty">
                            <small class="error" slot="required">
                                A title is need to create a module
                            </small>
                        </field-messages>
                        <small class="error"
                               v-if="errorMessages && errorMessages.title">
                            {{errorMessages.title}}
                        </small>
                        <div>
                            <label for="module-title">Title
                                <input v-model="title" type="text"
                                       name="title"
                                       required
                                       placeholder="Module Title"
                                       id="module-title"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns small-3">
                <div class="row">
                    <div class="columns small-8">
                        <label for="time-estimate">Time Estimate</label>
                        <input v-model="timeEstimate" type="text"
                               placeholder="Time estimate"
                               id="time-estimate">
                    </div>
                </div>
            </div>
            <div class="columns small-2">
                <div class="row">
                    <div class="columns small-8">
                        <label for="module-description">Description</label>
                        <textarea v-model="description" type="text"
                                  placeholder="Course description"
                                  id="module-description"></textarea>
                    </div>
                </div>
            </div>
            <div class="columns small-6">
                <div class="row">
                    <div class="small-12 columns">
                        <label>Content</label>
                        <quill-editor ref="editor"></quill-editor>
                    </div>
                </div>
            </div>
        </validate>
        <div class="row">
            <div class="columns small-2">
                <button @click="createModule" class="button" type="button">
                    Create
                </button>
            </div>
        </div>
    </vue-form>
</div>
