<div class="main">
    <div class="row">
        <div class="small-12 large-10 columns">
            <h1>Create Module</h1>
            <loading v-if="loading"></loading>
        </div>
    </div>
    <vue-form :state="formstate" @submit.prevent="createModule">
        <validate>
            <div class="row">
                <div class="columns small-12 large-10">
                    <field-messages name="title"
                                    show="$submitted || $dirty">
                        <small class="error" slot="required">
                            A title is need to create a module
                        </small>
                    </field-messages>
                    <small class="error"
                           v-if="errorMessages && errorMessages.title">
                        {{errorMessages.title}}
                    </small>
                    <div>
                        <label for="module-title">Title
                            <input v-model="title" type="text"
                                   name="title"
                                   required
                                   placeholder="Module Title"
                                   id="module-title"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 large-10">
                    <time-estimate :is-input="true"
                                   :time-estimate="timeEstimate"
                                   :updated="timeEstimateUpdated"></time-estimate>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 large-10">
                    <label for="module-description">Description</label>
                    <textarea v-model="description" type="text"
                              placeholder="Course description"
                              id="module-description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-12 large-10 columns">
                    <training-segments :stored-segments="quillContent" ref="trainingSegment"></training-segments>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 large-10">
                    <add-content-component :callback="addContentCallback"></add-content-component>
                </div>
            </div>
        </validate>
        <div class="row">
            <div class="columns small-2">
                <button @click="createModule" class="button" type="button">Create</button>
            </div>
        </div>
    </vue-form>
</div>
