.user-header-wrapper {
  background-color: #9E2428;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  color: white;

  nav {
    padding: 1em;

    .menu-section {
      display: flex;

      &__menu {
        flex-flow: row nowrap;

        li {
          a {
            color: #fff;
            max-width: 80px;
            padding: .2em .1em;

            &:hover,
            &:focus {
              color: #1cc7ff;
            }
          }
        }
      }

      &.user-actions {
        justify-content: space-between;
        align-items: center;

        .welcome-message {
          display: none;
        }

        .button {
          margin: 0 0 0 1em;
        }
      }
    }
  }

  @media screen and (min-width: 560px) {
    nav .menu-section {
      &__menu {
        li a {
          padding: .7em 1em;
          max-width: 100%;
        }
      }
    }
  }

  @media screen and (min-width: 740px) {
     nav .menu-section.user-actions .welcome-message {
      display: block;
    }
  }
}

