.user-header-wrapper {
  background-color: black;
  color: white;

  nav {
    padding: 1em;

    .menu-section {
      display: flex;

      li {
        a {
          color: #fff;

          &:hover,
          &:focus {
            color: #1cc7ff;
          }
        }
      }

      &.user-actions {
        justify-content: space-between;
        align-items: center;

        .button {
          margin: 0 0 0 1em;
        }
      }
    }
  }
}