/* Sidebar */
/* Toggle Styles */

.wrapper {
  //height: 100vh;
  padding-left: 0;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  -o-transition: padding 0.5s ease;
  transition: padding 0.5s ease;

  &.toggled {
    padding-left: 0;

    .page-content-wrapper {
      padding-left: $sidebar-width + $main-content-side-padding;
      position: absolute;
      margin-right: -($sidebar-width) + $sidebar-collapsed-width;
    }

    .sidebar-wrapper {
      width: $sidebar-width;
    }
  }

  .sidebar-wrapper {
    z-index: 1;
    position: absolute;
    left: 100px;
    width: $sidebar-width;
    height: 100%;
    margin-left: -($sidebar-width) - $sidebar-collapsed-width;
    overflow: hidden;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    &.toggled {
      margin-left: -100px;
      z-index: 1000;
    }

    .menu-icon-container {
      width: 100%;
      justify-content: flex-end;
      margin-top: 1em;
    }
  }

  .page-content-wrapper {
    width: auto;
    z-index: 2;
    padding-left: $sidebar-collapsed-width + $main-content-side-padding;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #FFF;
    //height: 100%;

    &.toggled {
      width: 100%;
      z-index: 2;
    }
  }
}

@media(min-width: $breakpoint-mobile) {

  .wrapper {
    padding-left: $sidebar-width;
    height: 100%;

    &.toggled {
      padding-left: -($sidebar-width) - $sidebar-collapsed-width;

      .sidebar-wrapper {
        width: $sidebar-width;
        margin-left: -($sidebar-width) - $sidebar-collapsed-width;
      }

      .page-content-wrapper {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $sidebar-collapsed-width + $main-content-side-padding;
        padding-right: $main-content-side-padding;
      }
    }

    .sidebar-wrapper {
      width: $sidebar-width;
      margin-left: -100px;
    }

    .page-content-wrapper {
      padding-left: $main-content-side-padding;

      .container-fluid {
        margin-top: 20px;
      }
    }
  }
}