/* Sidebar Navigation Styles */

.sidebar-nav {
  top: 1em;
  width: $sidebar-width - $sidebar-collapsed-width;
  margin: 0;
  padding: 0 0 3em;
  list-style: none;
  color: #999999;
  position: relative;
  bottom: 0;
  background-color: #3e3e3e;

  .menu-header {
    justify-content: space-between;
  }

  .menu-section {

    &__row {
      justify-content: space-between;
    }

    &__inner {
      padding-left: 0;
    }

    &__item {
      text-indent: 10px;
    }

    &__course-title {
      font-size: 1.4em;

      .router-link-active {
        color: white;
      }
    }

    &__module-title {
      font-size: 1.2em;

      .router-link-active {
        color: purple;
      }
    }

    &__section-title {
      font-size: 1em;

      .router-link-active {
        color: white;
      }
    }
  }

  li {
    text-indent: 20px;
    line-height: 40px;
    display: block;
    text-decoration: none;
  }
}

.menu {
  .buttons {
    display: flex;
    flex-flow: row nowrap;

    .button.button__icon {
      margin-left: .2em;
      margin-bottom: 0;
    }
  }
}