<div class="grid-y small-grid-frame">
    <div class="cell small-2">
        <div class="grid-x grid-padding-x align-center">
            <div class="small-8 cell">
                <div>
                    <h2>Edit Content</h2>
                    <p v-if="loading">Loading...</p>
                    <p v-if="errorMsg">{{ errorMsg }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="cell small-2">
        <div class="grid-x grid-padding-x align-center">
            <div class="small-8 cell">
                <label for="content-title">Title
                    <input v-model="title" type="text"
                           placeholder="Content Title"
                           id="content-title"/>
                </label>
            </div>
        </div>
    </div>
    <div class="cell small-6">
        <div class="grid-x grid-padding-x align-center">
            <div class="small-8 cell">
                <label>Content</label>
                <quill-editor id="edit-content" ref="editor"></quill-editor>
            </div>
        </div>
    </div>

    <div class="cell small-2">

        <div class="grid-x grid-padding-x align-center">
            <div class="small-8 cell">
                <button @click="save" class="button primary">Save
                </button>
            </div>
        </div>
    </div>
</div>
