p, h1, h2, h3, h4 {
  //color: red;
}

#app {
  position:fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.inner-narrow {
  max-width: 600px;
  margin: 3% auto 0;
}

.user-main {
  position: absolute;
  top: 72px;
  width: 100%;
  overflow: auto;
}

.section-header {
  justify-content: space-between;
}

.relative {
  position: relative;
}

table {
  border: 1px solid;

  tr {
    &:nth-child(odd) {
      background-color: #eaeaea;
    }

    td {
      padding: 0 1em 0;

      .button {
        margin: 1em;
      }

      &:nth-child(2) {
        float: right;
      }
    }
  }
}

button.button {

  &__icon {
    padding: .4rem;
    margin: 0;
  }
}
