<div class="grid-y medium-grid-frame" style="justify-content: center;">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-6">
            <div class="callout float-center">
                <h1>WELCOME!</h1>
                <p>please enter username and password.</p>
                <p v-if="loading">Logging in...</p>
                <p v-if="errorMsg">{{ errorMsg }}</p>
            </div>
        </div>
    </div>
    <div class="grid-x grid-padding-x align-center">
        <div class="cell small-6">
            <div class="callout float-center">
                <form>
                    <label for="username-login">Username
                        <input v-model="username" type="text" placeholder="name@myemail.com" id="username-login"/>
                    </label>
                    <label for="password">Password
                        <input v-model="password" type="password" id="password"/>
                    </label>
                    <input @click="login" type="submit" class="button" value="Submit">
                    <button class="button secondary">Forgot Password</button>
                </form>
            </div>
        </div>
    </div>
</div>