/* Sidebar Navigation Styles */

$breakpoint-mobile: 768px;
$sidebar-width: 320px;

.sidebar-nav {
  top: 2em;
  width: $sidebar-width;
  margin: 0;
  padding: 1em;
  list-style: none;
  color: #999999;
  position: absolute;
  bottom: 0;

  &-inner {
    width: 84%;
    background-color: #3e3e3e;
  }

  .menu-header {
    justify-content: space-between;
    margin-top: 2em;
  }

  li {
    text-indent: 20px;
    line-height: 40px;
    display: block;
    text-decoration: none;
  }
}

.menu {
  .buttons {
    display: flex;
    flex-flow: row nowrap;

    .button__icon {
      margin-left: .2em;
    }
  }
}

@media(min-width: 768px) {
  .sidebar-nav {
    width: $sidebar-width;
  }
}