<nav class="sidebar-nav grid-y">
    <div class="sidebar-nav-inner">
        <div class="grid-x menu-brand">
            <div class="brand auto cell">
            </div>
        </div>
        <div class="grid-x menu menu-header">
            <h4 v-bind:class="{'is-active': activeNavigation.course}">
                <router-link :to="courseDetails">{{course.title}}
                </router-link>
            </h4>
            <button title="Add Module" v-if="isCourseAdmin" class="button" v-on:click="createModule">
                <i class="fa fa-plus fa-fw margin-1"></i>
                <span class="sr-only">Add module</span>
            </button>
        </div>
        <div class="menu-section">
            <ul class="menu">
                <li v-for="module in course.modules">
                    <h5 v-bind:class="{'is-active': activeNavigation.module === module.title}">
                        <router-link :to="moduleDetailsRoute(module.title)">{{module.title}}</router-link>
                    </h5>
                    <ul>
                        <li v-for="section in module.sections">
                            <h6 v-bind:class="{'is-active': activeNavigation.section === section.title}">
                                <router-link :to="sectionRoute(module.title, section.title)">
                                    {{section.title}}
                                </router-link>
                            </h6>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>