<div class="grid-y small-grid-frame">
    <div class="cell small-2">
        <div class="grid-x grid-padding-x align-center">
            <div class="small-8 cell">
                <div>
                    <h2>Create Content</h2>
                    <loading v-if="loading"></loading>
                </div>
            </div>
        </div>
    </div>
    <vue-form :state="formstate" @submit.prevent="create">
        <validate>
            <div class="cell small-2">
                <div class="grid-x grid-padding-x align-center">
                    <field-messages name="title"
                                    show="$submitted || $dirty">
                        <small class="error" slot="required">
                            A title is needed to create content
                        </small>
                    </field-messages>

                    <div class="small-8 cell">
                        <label for="content-title">Title
                            <input v-model="title" type="text"
                                   required
                                   placeholder="Content Title"
                                   id="content-title"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="cell small-6">
                <div class="grid-x grid-padding-x align-center">
                    <div class="small-8 cell">
                        <label>Content</label>
                        <quill-editor ref="editor"></quill-editor>
                    </div>
                </div>
            </div>

        </validate>
        <div class="cell small-2">
            <div class="grid-x grid-padding-x align-center">
                <div class="small-8 cell">
                    <button @click="create" class="button primary">Create</button>
                </div>
            </div>
        </div>
    </vue-form>
</div>

