<div class="main">
    <div v-if="loading" class="row">
        <loading></loading>
    </div>
    <div v-if="course" class="row">
        <div class="small-12 large-10 columns">
            <div class="callout">
                <h2>{{course.title}}</h2>
                <p>{{course.description}}</p>
            </div>
            <div v-for="module in course.modules" class="callout">
                <h3>{{module.title}}</h3>
                <p>{{module.description}}</p>
                <ul class="content-list">
                    <li v-for="section in module.sections" class="content-item">
                        <h5>{{section.title}}</h5>
                        <p>{{section.description}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
