<div class="main">
    <div class="row">
        <div class="columns small-12 large-10">
            <loading v-if="loading"></loading>
            <h2>{{section.title}}</h2>
            <time-estimate :time-estimate="section.timeEstimate"></time-estimate>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 large-10">
            <quill-editor ref="editor"></quill-editor>
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 large-10">
            <button @click="back" type="button"
                    class="button secondary" :disabled="loading">
                Back
            </button>
            <button @click="next" class="button primary" :disabled="loading">Next</button>
        </div>
    </div>
</div>
