.section-header {
  justify-content: space-between;
}

table {
  border: 1px solid;

  tr {
    &:nth-child(odd) {
      background-color: #eaeaea;
    }

    td {

      padding: 0 1em 0;

      button {
        margin: 1em !important;
      }

      &:nth-child(2) {
        float: right;
      }
    }
  }
}