<div class="inner-narrow grid-y">
    <div class="grid-x section-header">
        <h4>Admin Courses</h4>
        <button class="button primary"
                @click="createCourse">Create a Course
        </button>
    </div>
    <table v-if="courses.length"
        class="content-list">
        <tr v-for="course in courses"
            class="content-item">
            <td>{{ course.title }}</td>
            <td><button class="button primary"
                    @click="go(course)">
                Edit
            </button>
            </td>
        </tr>
    </table>
</div>
