
$breakpoint-mobile: 768px;
$sidebar-width: 320px;
$sidebar-collapsed-width: 50px;
$main-content-side-padding: 10px;
$user-bar-height: 72px;

$foundation-palette: (
        primary: #1779ba,
        secondary: #767676,
        success: #3adb76,
        warning: #ffae00,
        alert: #cc4b37,
);
