<div>
    <div v-if="loading" class="row">
        <loading></loading>
    </div>
    <div v-if="module" class="row">
        <div class="small-12 columns">
            <div class="callout">
                <h2>{{module.title}}
                    <button v-if="isCourseAdmin" class="button" v-on:click="createSection">Create Section</button>
                </h2>
                <h3>{{module.title}}</h3>
            </div>
            <div v-for="section in module.sections" class="callout">
                <h3>{{section.title}}</h3>
                <h4>{{section.description}}</h4>
            </div>
        </div>
    </div>
</div>
