<div class="main">
    <div v-if="loading" class="grid-x">
        <loading></loading>
    </div>
    <div v-if="module" class="grid-x">
        <div class="small-12 cell">
            <div class="callout">
                <h2>{{module.title}}</h2>
                <h3>{{module.title}}</h3>
            </div>
            <div v-for="section in module.sections" class="callout">
                <h3>{{section.title}}</h3>
                <h4>{{section.description}}</h4>
            </div>
        </div>
    </div>
</div>
