<div class="style="justify-content: center;">
    <div class="row align-center">
        <div class="columns small-8">
            <div class="callout float-center">
                <h1>Edit Course</h1>
                <p v-if="errorMessages">{{ errorMessages }}</p>
            </div>
        </div>
    </div>
    <div class="row align-center">
        <div class="columns small-8">
            <div class="callout float-center">
                <div>
                    <label for="course-title">Title
                        <input v-model="course.title" type="text"
                               placeholder="Course Title" id="course-title"/>
                    </label>
                </div>
                <div>
                    <label for="time-estimate">Time Estimate
                        <input v-model="course.timeEstimate" type="text"
                               placeholder="Time estimate"
                               id="time-estimate">
                    </label>
                </div>
                <div>
                    <label for="course-description">Description</label>
                    <textarea v-model="course.description" type="text"
                              placeholder="Course description"
                              id="course-description"></textarea>
                </div>

                <button @click="save" class="button">Save</button>
                <button @click="cancel" class="button secondary">Cancel</button>
            </div>
        </div>
    </div>
</div>
