<!DOCTYPE html>
<html lang="en">
<head>
    <title>TU Training</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div id="app" class="grid-frame-padded">
    <router-view></router-view>
</div>
<script src="build.js"></script>
</body>
</html>