<!DOCTYPE html>
<html lang="en">
<head>
    <title>TU Training</title>
</head>
<body>
<div id="app">
    <div>
        <p>Hello from app {{message}}!</p>
        <button>
            <router-link :to="{ name: 'login'}">Login</router-link>
        </button>
        <button>
            <router-link :to="{ name: 'admin', params: {username: 'imadmin'}}">Admin</router-link>
        </button>
    </div>
    <div>
        <router-view></router-view>
    </div>
</div>
<script src="lib.min.js"></script>
<script src="app.min.js"></script>
</body>
</html>