<div class="main">
    <div class="row">
        <div class="columns small-12 large-10">
            <h1>Edit Section</h1>
            <loading v-if="loading || saving"></loading>
        </div>
    </div>
    <template v-if="currentSection && section">
        <vue-form :state="formstate" @submit.prevent="saveSection">
            <validate>
                <small class="error" v-if="errorMessages">
                    {{errorMessages}}
                </small>
            </validate>
            <validate>
                <div class="row">
                    <div class="columns small-12 large-10">
                        <field-messages name="title" show="$submitted || $dirty">
                            <small class="error" slot="required">
                                A title is need to create a section
                            </small>
                        </field-messages>
                        <label for="section-title">Title
                            <input v-model="section.title" type="text"
                                   name="title"
                                   required
                                   placeholder="Section Title"
                                   id="section-title"/>
                        </label>
                    </div>
                </div>
            </validate>
            <validate>
                <div class="row">
                    <div class="columns small-12 large-10">
                        <time-estimate :isInput="true"
                                       :timeEstimate="section.timeEstimate"
                                       :updated="timeEstimateUpdated"></time-estimate>
                    </div>
                </div>
            </validate>
            <validate>
                <div class="row">
                    <div class="columns small-12 large-10">
                        <label for="section-description">Description</label>
                        <textarea v-model="section.description" type="text"
                                  name="description"
                                  placeholder="Section description"
                                  id="section-description"></textarea>
                    </div>
                </div>
            </validate>
            <div class="row">
                <div class="small-12 large-10 columns">
                    <training-segments :stored-segments="quillContent" ref="trainingSegment"></training-segments>
                </div>
            </div>
            <div class="row">
                <div class="columns small-12 large-10">
                    <add-content-component :callback="addContentCallback"></add-content-component>
                </div>
            </div>
            <div class="row">
                <div class="columns small-2">
                    <button v-bind:disabled="saving || loading" @click="saveSection" class="button" type="button">
                        Save
                    </button>
                </div>
            </div>
        </vue-form>
    </template>
</div>
