<div class="grid-y medium-grid-frame">
    <div class="grid-x grid-padding-x">
        <div class="small-8">
            <h1>Edit Section</h1>
            <loading v-if="loading"></loading>
        </div>
    </div>
    <vue-form :state="formstate" @submit.prevent="saveSection">
        <validate>
            <div class="cell small-3">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-8">
                        <field-messages name="title"
                                        show="$submitted || $dirty">
                            <small class="error" slot="required">
                                A title is need to create a section
                            </small>
                        </field-messages>
                        <small class="error"
                               v-if="errorMessages && errorMessages.title">
                            {{errorMessages.title}}
                        </small>
                        <div>
                            <label for="section-title">Title
                                <input v-model="section.title" type="text"
                                       name="title"
                                       required
                                       placeholder="Section Title"
                                       id="section-title"/>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cell small-3">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-8">
                        <label for="time-estimate">Time Estimate</label>
                        <input v-model="section.timeEstimate" type="text"
                               placeholder="Time estimate"
                               id="time-estimate">
                    </div>
                </div>
            </div>
            <div class="cell small-2">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-8">
                        <label for="section-description">Description</label>
                        <textarea v-model="section.description" type="text"
                                  placeholder="Section description"
                                  id="section-description"></textarea>
                    </div>
                </div>
            </div>
            <div class="cell small-6">
                <div class="grid-x grid-padding-x">
                    <div class="small-12 cell">
                        <label>Content</label>
                        <quill-editor ref="editor"></quill-editor>
                    </div>
                </div>
            </div>
        </validate>
        <div class="grid-x grid-padding-x">
            <div class="cell small-2">
                <button @click="saveSection" class="button" type="button">
                    Create
                </button>
            </div>
        </div>
    </vue-form>
</div>
